doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{name}'s Resume
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    style.
        body {
            margin: 0;
            height: 100vh;
            width: 100vw;
            font-family: "Montserrat Medium", sans-serif;
            font-size: x-small;
        }
        a {
            text-decoration: none;
            color: black;
        }
        ul {
            margin: 0 0 0 0.75%;
            padding: 0 0 0 0;
            list-style-type: none;
        }
        #root {
            height: 100%;
            aspect-ratio: 1 / 1.4142; /* A4 aspect */
            display: grid;
            grid-gap: 0.75%;
            grid-template-columns: 28% auto;
            grid-template-rows: auto 2%;
            grid-template-areas:
              "sidebar main"
              "sidebar footer";
        }
        #sidebar {
            grid-area: sidebar;
            display: flex;
            flex-direction: column;
        }
        #main {
            grid-area: main;
            margin: 0 80px 0 0;
        }
        #footer {
            grid-area: footer;
        }
        #padding {
            margin-bottom: 0;
            /* Grow to bottom of the screen */
            flex-grow: 1;
        }
        .section-title {
            font-size: 20px;
            font-size: 1.5vh;
            color: #598547;
            margin-bottom: 0.75%;
        }
        .sub-section-title {
            font-size: 12px;
            font-size: .9vh;
            font-weight: 900;
        }
        .sidebar-content {
            background: #f5f6f5;
            margin-bottom: 1.5%;
            padding: 4%;
            font-size: 12px;
            font-size: .8vh;
        }
        .sidebar-your-name {
            font-size: 26px;
            font-size: 1.75vh;
            color: #598547;
        }
        .sidebar-your-title {
            font-size: 16px;
            font-size: 1vh;
        }
        .main-content {
            background: none;
            margin: 0.85%;
            word-wrap: break-word;
            font-size: 12px;
            font-size: 0.95vh;
        }
        .fa-ul {
            margin-left: 1.5vh
        }
        .fa-xs {
            /* Ensures the fa-xs icons are centered */
            position: relative;
            transform: translateY(-6%);
        }
        .contact-text {
            font-size: 10px;
            font-size: 0.85vh;
        }
        .footer-text {
            font-size: 6px;
            font-size: 0.6vh;
            font-style: italic;
        }
  #root
    #sidebar
      #name.sidebar-content
        span.sidebar-your-name #{name}
        br
        if bannerTitle
          span.sidebar-your-title #{bannerTitle}
          br

      if contactInfo
        #contact.sidebar-content
          span.section-title Contact Info
          br
          ul.fa-ul
            each info in contactInfo
              li
                span.fa-li
                  i(class=info.faIconClass)
                a.contact-text(href=info.link) #{info.value}

      if keySkills
      #skills.sidebar-content
        span.section-title Key Skills
        br
        each skill in keySkills
          span.sub-section-title #{skill.title}
          br
          ul.fa-ul
            li
              span.fa-li
                i(class='fas fa-chevron-right fa-xs')
              span #{skill.details}

      if education
        #education.sidebar-content
          span.section-title Education
          br
          each degree in education
            span.sub-section-title #{degree.school}
            br
            span #{degree.years}
            br
            span(style='font-style: italic') #{degree.degree}
            br
            each detail in degree.additionalDetails
              ul.fa-ul
                li
                  span.fa-li
                    i(class='fas fa-chevron-right fa-xs')
                  span #{detail}

      if certifications
        #certifications.sidebar-content
          span.section-title Certifications
          br
          each certification in certifications
            span.sub-section-title #{certification.company}
            br
            span
              a(href=certification.link) #{certification.id}
            br
            ul.fa-ul
              each individualCert in certification.list
                li
                  span.fa-li
                    i(class='fas fa-chevron-right fa-xs')
                  span #{individualCert}

      if hobbies
        #hobbies.sidebar-content
          span.section-title Hobbies
          br
          each hobby in hobbies
            span.sub-section-title #{hobby.headline}
            br
            ul.fa-ul
              each detail in hobby.additionalDetails
                li
                  span.fa-li
                    i(class='fas fa-chevron-right fa-xs')
                  span #{detail}

      #padding.sidebar-content


    #main
      if profile
        #profile.main-content
          br
          span.section-title Professional Profile
          br
          span #{profile}
          br
          br

      if experience
        #experience.main-content
          span.section-title Relevant Employment
          br
          each job in experience
            #experience-details
              span(style="font-weight: 900") #{job.company}&nbsp;&nbsp;&nbsp;&nbsp;
              span #{job.title}&nbsp;&nbsp;&nbsp;&nbsp;
              span #{job.timeFrame}

            if job.details
              ul.fa-ul
                each detail in job.details
                  li
                    span.fa-li
                      i(class='fas fa-chevron-right fa-xs')
                    span #{detail}
              br

      if projects
        #projects.main-content
          span.section-title Interesting Projects
          br
          each project in projects
            span(style="font-weight: 900") #{project.companyType}
            span  - #{project.tagline}
            br
            ul.fa-ul
              if project.additionalDetails
                each detail in project.additionalDetails
                  li
                    span.fa-li
                      i(class='fas fa-chevron-right fa-xs')
                    span #{detail}
            br

    if showGeneratedByFooter
      #footer
        span.footer-text Generating using:&nbsp;
        span
          a.footer-text(href='https://github.com/nccurry/resume-generator') github.com/nccurry/resume-generator
