doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{name}'s Resume
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    style.
        body {
          margin: 0;
          height: 100vh;
          width: 100vw;
          font-family: "Montserrat Medium", sans-serif;
          font-size: x-small;
          /*font-size: 15px;*/
          /*font-size: 0.95vh;*/
        }
        a {
          text-decoration: none;
          color: black;
          font-family: "Montserrat Medium", sans-serif;
          font-size: x-small;
        }
        ul {
          margin: 0 0 0 0.75%;
          padding: 0 0 0 0;
          list-style-type: none;
        }
        #root {
          height: 100%;
          aspect-ratio: 1 / 1.4142; /* A4 aspect */
          margin: 1%;
          align-content: start;
          display: grid;
          grid-gap: 1%;
          grid-template-rows:
            10px
            auto;
          grid-template-areas:
            "header"
            "name"
            "synopsis"
            "description"
            "options"
            "history"
            "footer";
        }
        #header {
          grid-area: header;
          margin: 0 0 0 0;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
        }
        #name {
          grid-area: name;
          margin: 0 0 0 0;
        }
        #synopsis {
          grid-area: synopsis;
          margin: 0 0 0 0;
        }
        #options {
          grid-area: options;
          margin: 0 0 0 0;
        }
        #history {
          grid-area: history;
          margin: 0 0 0 0;
        }
        #footer {
          grid-area: footer;
        }
        #padding {
          margin-bottom: 0;
          /* Grow to bottom of the screen */
          flex-grow: 1;
        }
        .section-title {
          margin-bottom: 1.5%;
        }
        .section-content {
          margin-left: 4%;
          margin-bottom: 0.75%;
        }
        .sub-section-content {
          margin-left: 4%;
          margin-bottom: 0.75%;
        }
        .main-content {
          background: none;
          margin: 0.85%;
          word-wrap: break-word;
          font-size: 12px;
          font-size: 0.95vh;
        }
        .fa-ul {
          margin-left: 1.5vh
        }
        .fa-xs {
          /* Ensures the fa-xs icons are centered */
          position: relative;
          transform: translateY(-6%);
        }
        .footer-text {
          font-size: 6px;
          font-size: 0.6vh;
          font-style: italic;
        }
  #root
    #header
      span #{`${name.toUpperCase().replace(" ", "_")}(7)`}
      span Linux User Manual - Resume
      span #{`${name.toUpperCase().replace(" ", "_")}(7)`}
    #name
      span.section-title NAME
      <br>
      div.section-content
        span #{`${name.toLowerCase().replace(" ", "_")} - ${bannerTitle}`}
    #synopsis
      span.section-title SYNOPSIS
      <br>
      div.section-content
        span #{name.toLowerCase().replace(" ", "_")} skills &#32;&#32;
        each skill in keySkills
          span [--#{skill.title.toLowerCase().replace(" ", "-")}] &#32;&#32;
        <br>
        span #{name.toLowerCase().replace(" ", "_")} certifications &#32;&#32;
            each certification in certifications
              each type in certification.list
                span #{`[--${certification.company.toLowerCase().match(/\b(\w)/g).join('')}-${type.toLowerCase().match(/\b(\w)/g).join('')}] `}
                //span #{`[--${certification.company.toLowerCase().replace(" ", "-")}-${type.toLowerCase().replace(" ", "-")}] `}
    #description
      span.section-title DESCRIPTION
      <br>
      div.section-content
        span #{profile}
    #options
      span.section-title OPTIONS
      <br>
    #notes
      span.section-title NOTES
      <br>
      div.section-content
        each school in education
          span #{`${school.degree} - ${school.school}`}
          <br>
          div.section-content
            each detail in school.additionalDetails
              span #{detail}
              <br>
          <br>
    #history
      span.section-title HISTORY
      <br>
      div.section-content

    #seealso
      span.section-title SEE ALSO
      <br>
      div.section-content
          each info in contactInfo
            span
              a(href=info.link) #{`${info.value}, `}
  //          TODO: Fix comma

  if showGeneratedByFooter
      #footer
        span.footer-text Generating using:&nbsp;
        span
          a.footer-text(href='https://github.com/nccurry/resume-generator') github.com/nccurry/resume-generator
