doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{name}'s Resume
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    style.
      body {
        margin: 0;
        height: 100vh;
        width: 100vw;
        font-family: "Montserrat Medium", sans-serif;
        font-size: x-small;
      }
      a {
        text-decoration: none;
        color: black;
      }
      #root {
        height: 100%;
        aspect-ratio: 1 / 1.4142; /* A4 aspect */
        margin: 1% 1% 1% 1%;
        display: flex;
        flex-direction: column;
        gap: 0.5%;
      }
      #header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 4% 0 1%;
      }
      #padding {
        grid-area: padding;
        margin-bottom: 0;
        /* Grow to bottom of the screen */
        flex-grow: 1;
      }
      .header-text {
          font-weight: bold;
      }
      .section-title {
        margin: 0 2% 1.5% 6%;
        font-weight: bold;
      }
      .section-content {
        margin: 0.25% 20% 0.25% 8%;
      }

      .section-sub-content {
        margin: 0.5% 2% 0.5% 6%;
      }
      .footer-content {
          text-align: center;
      }
      .footer-text {
        font-size: 6px;
        font-size: 0.6vh;
        font-style: italic;
      }
  #root
    #header
      span.header-text #{`${name.toUpperCase().replace(" ", "_")}(7)`}
      span Linux User Manual - Resume
      span.header-text #{`${name.toUpperCase().replace(" ", "_")}(7)`}

    #name
      span.section-title NAME
      div.section-content
        span #{`${name.toLowerCase().replace(" ", "_")} - ${bannerTitle}`}

    #synopsis
      span.section-title SYNOPSIS
      div.section-content
        span #{name.toLowerCase().replace(" ", "_")} skills &#32;&#32;
        each skill in keySkills
          span [--#{skill.title.toLowerCase().replace(" ", "-")}] &#32;&#32;
        <br>
        span #{name.toLowerCase().replace(" ", "_")} certifications &#32;&#32;
            each certification in certifications
              each type in certification.list
                span #{`[--${certification.company.toLowerCase().match(/\b(\w)/g).join('')}-${type.toLowerCase().match(/\b(\w)/g).join('')}] `}

    #description
      span.section-title DESCRIPTION
      div.section-content
        each detail in profile
          span #{detail}
          br

    #options
      span.section-title OPTIONS
      each skill, skillIndex in keySkills
        div.section-content
          span --#{skill.title.toLowerCase().replace(" ", "-")}
          div.section-sub-content
            span #{skill.details}
            if skillIndex < keySkills.length - 1
              <br>

    #history
      span.section-title HISTORY
      div.section-content
        each job, jobIndex in experience
          span
            strong #{job.title} -&nbsp;
            | #{job.company} -&nbsp;
            strong #{job.timeFrame}

          div.section-sub-content
            each detail, detailIndex in job.details
              span - #{detail}
              if detailIndex < job.details.length - 1
                <br>

    #notes
      span.section-title NOTES
      div.section-content
          each school, schoolIndex in education
            span
              strong #{school.degree} -&nbsp;
              | #{school.school}
            div.section-sub-content
              each detail, detailIndex in school.additionalDetails
                span - #{detail}
                if detailIndex < school.additionalDetails.length - 1
                  <br>
          each company, companyIndex in certifications
            span
              strong #{company.company}&nbsp;
              a(href='#{company.link}') - #{company.id}
              div.section-sub-content
            //    each certification, certificationIndex in company.list
            //      span - #{certification}
            //      if certificationIndex < company.list.length - 1
            //        <br>
    #example
      span.section-title EXAMPLE
      div.section-content
        each project, projectIndex in projects
          span
            | #{project.companyType} -&nbsp;
            strong #{project.tagline}
          <br>
          div.section-sub-content
            each detail, detailIndex in project.additionalDetails
              span - #{detail}
              if detailIndex < project.additionalDetails.length - 1
                <br>

    #seealso
        span.section-title SEE ALSO
        div.section-content
            each info, infoIndex in contactInfo
              span
              if infoIndex < contactInfo.length - 1
                a(href=info.link) #{`${info.value}, `}
              else
                a(href=info.link) #{`${info.value}`}

    #padding

    if showGeneratedByFooter
        #footer
          div.footer-content
            span.footer-text Generating using:&nbsp;
              a.footer-text(href='https://github.com/nccurry/resume-generator') github.com/nccurry/resume-generator

