doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{name}'s Resume
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    style.
        body {
            margin: 0;
            padding-left: 10px;
            padding-right: 10px;
            font-family: "Montserrat Medium", sans-serif;
            font-size: x-small;
        }
        a {
            text-decoration: none;
            color: black;
        }
        ul {
            margin: 0 0 0 15px;
            padding: 0 0 0 0;
            list-style-type: none;
        }
        #root {
            box-sizing: border-box;
            display: grid;
            grid-gap: 10px;
            height: 100%;
            width: 100%;
            grid-template-columns: 250px auto;
            grid-template-rows: auto 30px;
            grid-template-areas:
          "sidebar main"
          "footer footer";
        }

        #sidebar {
            grid-area: sidebar;
            background: none;
        }

        #main {
            grid-area: main;
            background: none;
            padding: 10px;
        }

        #footer {
            grid-area: footer;
            background: none;
        }

        .fa-ul {
            margin-left: 30px
        }

        .sidebar-content {
            background: #f5f6f5;
            margin-bottom: 5px;
            padding: 20px;
            font-size: 10px;
        }

        .sidebar-your-name {
            font-size: 26px;
            color: #598547;
        }

        .sidebar-your-title {
            font-size: 12px;
        }

        .main-content {
            background: none;
            margin: 10px;
        }

        .section-title {
            font-size: 20px;
            color: #598547;
        }

        .sub-section-title {
            font-size: 12px;
            font-weight: 900;
        }

  #root
    #sidebar
      #name.sidebar-content
        span.sidebar-your-name #{name}
        br
        if bannerTitle
          span.sidebar-your-title #{bannerTitle}
          br
      if contactInfo
        #contact.sidebar-content
          span.section-title Contact
          br
          ol.fa-ul
            each info in contactInfo
              li
                span.fa-li
                  i(class=info.faIconClass)
                a(href=info.link) #{info.value}
      if keySkills
      #skills.sidebar-content
        span.section-title Key Skills
        br
        br
        each skill in keySkills
          span.sub-section-title #{skill.title}
          br
          ul
            li
              span
                i
              | #{skill.details}
          br
      if education
        #education.sidebar-content
          span.section-title Education
          br
          each degree in education
            br
            span.sub-section-title #{degree.school}
            br
            span #{degree.years}
            br
            span(style='font-style: italic') #{degree.degree}
            br
            each detail in degree.additionalDetails
              ul
                li
                span #{detail}
      if certifications
      #certifications.sidebar-content
        span.section-title Certifications
        br
        each certification in certifications
          br
          span.sub-section-title #{certification.company}
          br
          span
            a(href=certification.link) #{certification.id}
          br
          ul
            each individualCert in certification.list
              li
                span(style='font-style: italic') #{individualCert}


    #main
      if profile
        #profile.main-content
          span.section-title Profile
          br
          span #{profile}

      if experience
        #experience.main-content
          span.section-title Experience
          br
          each job in experience
            span(style="font-weight: 900") #{job.company}&nbsp;-&nbsp;
            span #{job.title}:&nbsp;
            span #{job.timeFrame}
            br
            if job.details
              ul
                each detail in job.details
                  li
                    span #{detail}



      if projects
        #projects.main-content
          span.section-title Projects
          br
          span test

  #footer
    span
      | Generating using my personal resume generator:
      a(href='https://github.com/nccurry/resume-generator') github.com/nccurry/resume-generator
